* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container1 {
    height: 100vh;
    width: 100%;
    background: black;
    background-size: cover;
    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.5s);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.header-div{
    width:100%;
    height:4rem;
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-around;
    position:fixed;
}

.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:white;
    margin:0.5em 16% 0 0;   
}

.zim-logo{
    color:white;
    display:inline;
}
.logo-span{
    color:rgb(255, 115, 0);
}

.header-nav{
    display:flex;
    justify-content:space-around;
    width:30%;
    height: inherit;
    align-items: center;
}

@media (max-width:450px) {
    .header-nav{
        display: none;
    }
}

.header-home{
    font-size: 15px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration:none;
    transition:0.4s ease;
}

.header-home:hover, #header-icon:hover{
    color:rgb(255, 115, 0);
    text-decoration: underline;
}

.header-icon-div{
    display:flex;
    justify-content:space-around;
    width:11%;
    height:inherit;
    align-items:center;
}

@media (max-width:450px) {
    .header-icon-div{
        width: 40%;
    }
}

#header-icon{
    color: white;
}

.one-main-div {
    display: flex;
}

@media (max-width:450px) {
    .one-main-div {
        background-image: url("https://img.freepik.com/free-photo/portrait-bearded-man-with-light-circle-around-head_250224-331.jpg?semt=ais_hybrid&w=740&q=80");
        background-size: cover;
        background-position: left;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

/* container1 one main name para text div */

.main-one-part-div {
    height: 34rem;
    width: 43%;
    margin-left: 2%;
    padding: 6% 0 0 2%;
}

@media (max-width:450px) {
    .main-one-part-div {
        background-color: url("https://img.freepik.com/free-photo/portrait-bearded-man-with-light-circle-around-head_250224-331.jpg?semt=ais_hybrid&w=740&q=80");
        height: 100%;
        width: 50%;

    }
}

.one-page-hi {
    font-size: 22px;
    margin-top: 5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width:450px) {
    .one-page-hi {
        font-size: 23px;
        margin-top: 100%;
    }
}

.one-page-main-zaeem {
    margin-top: 1%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

@media (max-width:450px) {
    .one-page-main-zaeem {
        font-size: 35px;
        font-weight: 700;

    }
}

.zaeem-name-animation-div {
    height: 39%;
    width: 50%;
}

@media (max-width:450px) {
    .zaeem-name-animation-div {
        height: 24%;
        width: 80%;
    }
}

.one-page-name-span {
    color: orangered;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:450px) {
    .one-page-name-span {
        font-size: 85px;
    }
}


.maquee-container{
    display: inline-block;
    height: 10rem;
    width: 50%;
    border: 1px solid red;
}

@media (max-width:450px) {
    .marquee-container{
        width: 100%;
        height: 4rem;
    }
}

.front-text-div {
    font-size: 37px;
    color: blueviolet;
    letter-spacing: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right: 3px solid blueviolet;
    overflow: hidden;
    width: 100%;
    margin-bottom: 3%;
    white-space: nowrap;
    animation: type 2.8s linear infinite, cursor .4s linear infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@media (max-width:450px) {
    .front-text-div {
        font-size: 28px;
        letter-spacing: 7px;
        width: 200%;
    }
}



.one-page-para {
    font-size: 18px;
    color: rgb(219, 215, 215);
    line-height: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:450px) {

    .one-page-para {
        width: 200%;
        font-size: 21px;
    }
}

.one-page-button-ain-div {
    margin: 4% 0 0 0;
}

@media (max-width:450px) {
    .one-page-button-ain-div {
        display: flex;
        width: 200%;
        margin: 9% 0 0 0;
    }
}

/* From Uiverse.io by KINGFRESS */
.one-page-button-one {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(222, 218, 218);
    background-color: orangered;
    font-size: 17px;
    margin-right: 2%;
    padding: 0.8em 1.9em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

@media (max-width:450px) {
    .one-page-button-one {
        padding: 0.5em 1.3em;
    }
}

.one-page-button-one span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    border-radius: 50%;
    transition: .6s ease;
}

.one-page-button-one span:nth-child(6) {
    position: relative;
}

.one-page-button-one span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.one-page-button-one span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.one-page-button-one span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.one-page-button-one span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.one-page-button-one span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.one-page-button-one:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}




/* From Uiverse.io by CristianMontoya98 */
.one-page-btn-two {
    width: 9.5em;
    height: 3em;
    background: blueviolet;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media (max-width:450px) {
    .one-page-btn-two {
        margin-left: 4%;
        width: 5.5rem;
        width: 7em;
    }
}

button:hover {
    color: white;
}

button:after {
    content: "";
    background: orangered;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* container1 image main div */

.main-two-part-div {
    height: 34rem;
    width: 54%;

}

@media (max-width:450px) {
    .main-two-part-div {
        display: none;
    }
}

#imran-khan-pic {
    background-color: orange;
    height: 100%;
    width: 100%;
}

/* 
second page start */

.container2 {
    height: 38rem;
    width: 100%;
    background-color: rgb(13, 13, 13);
    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@media (max-width:450px) {
    .container2 {
        overflow: hidden;
        height: 42rem;
    }
}

.container2-main-div {
    display: flex;
    height: 100%;
    width: 100%;
}

.container2-one-div {
    height: 37rem;
    width: 34%;
    margin-left: 3%;
}

@media (max-width:450px) {
    .container2-one-div {
        display: none;
    }

}


#About-pic {
    height: 100%;
    width: 100%;
}



.container2-two-div {
    height: 33rem;
    width: 53%;
    margin: 2% 0 0 4%;
    padding: 10% 0 0 2%;
}

@media (max-width:450px) {
    .container2-two-div {
        width: 100%;
    }
}

.about-main-logo {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

@media (max-width:450px) {
    .about-main-logo {
        font-size: 36px;
    }
}

.about-text-span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
}

.about-main-hr {
    width: 16%;
    margin: 1% 0 2.5% 0;
}

.front-main-text {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}

@media (max-width:450px) {
    .front-main-text {
        font-size: 30px;
        margin: 6% 0 0 3%;
    }
}

.about-text-para {
    margin: 2% 0 4% 0;
    line-height: 1.7rem;
    color: rgb(227, 226, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

@media (max-width:450px) {
    .about-text-para {
        font-size: 18px;
        margin-top: 3%;
        padding: 0 4% 0 4%;
    }
}

.about-button {
    width: 9.5em;
    height: 3em;
    background: blueviolet;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media (max-width:450px) {
    .about-button {
        height: 2.8em;
        width: 8rem;
        margin-left: 3%;
    }
}

button:hover {
    color: white;
}

button:after {
    content: "";
    background: orangered;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* 
containe3 start */
.container3 {
    height: 24rem;
    width: 100%;
    background-color: rgb(8, 8, 8);
    padding-top: 6%;
}

@media (max-width:450px) {
    .container3 {
        height: 30rem;
    }
}


.skill-logo {
    color: orangered;
    font-style: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

@media (max-width:450px) {
    .skill-logo {
        font-size: 30px;
    }
}

.skill-para {
    color: #e7e5e5;
    font-size: 19px;
    margin: 1.5% 0 4% 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width:450px) {
    .skill-para {
        font-size: 17px;
        padding: 0 2% 0 2%;
        color: #c6c4c4;
    }
}

.skill-button-div {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.skill-button-child-div {
    height: 100%;
    width: 70%;
    text-align: center;
}

@media (max-width:450px) {
    .skill-button-child-div {
        width: 100%;
        padding: 3% 0 3% 0;
    }
}

#skill-button {
    padding: 10px 18px 10px 18px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: white;
    border: 2px solid gray;
    margin: 0.7%;
}

#skill-button:hover {
    border: 2px solid blueviolet;
}

@media (max-width:450px) {
    #skill-button {
        margin: 1%;
    }
}

/* portfolio start */
.container4 {
    height: 46rem;
    width: 100%;
    background-color: rgb(15, 14, 14);
    ;
    padding-top: 3%;
    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@media (max-width:450px) {
    .container4 {
        height: 117rem;
        overflow: hidden;
    }
}

.portfolio-logo {
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(249, 80, 19);
    text-align: center;
}

@media (max-width:450px) {
    .portfolio-logo {
        font-size: 31px;
    }
}

.portfolio-para {
    font-size: 19px;
    margin: 1% 0 2% 0;
    color: #f1f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

@media (max-width:450px) {
    .portfolio-para {
        font-size: 17px;
        color: #c6c4c4;
    }
}

.portfolio-box-main-div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:450px) {
    .portfolio-box-main-div {
        display: block;
        height: 100%;
    }
}

.portfolio-box-div {
    height: 90%;
    width: 30%;
    border: 1px solid rgb(108, 105, 105);
    background-color: rgb(12, 12, 12);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s ease;
    flex-wrap: wrap;
}

@media (max-width:450px) {
    .portfolio-box-div {
        width: 88%;
        height: 30%;
        margin: 6%;
    }
}

.portfolio-box-div:hover {
    box-shadow: 10px 10px 15px orangered, 1px 2px 15px orangered;
}

#portfolio-box-div-img {
    height: 45%;
    width: 100%;
}

.portfolio-box-logo {
    color: blueviolet;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10% 0 3% 4%;
}

.portfolio-box-para {
    color: rgb(216, 216, 216);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 4% 0 4%;
    line-height: 1.6rem;
}

.portfolio-box-button {
    margin: 6% 0 0 4%;
}

.portfolio-button {
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
    color: rgb(226, 224, 224);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.2% 2% 0.2% 2%;
}

.portfolio-box-view-div {
    margin: 6% 0 6% 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-box-view-div {
    color: orangered;
    width: 90%;
    height: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 3%;
    border-radius: 10px;
    transition: 0.3s ease;
}

.portfolio-box-view-div:hover {
    background-color: rgb(51, 15, 1);
    border: orangered;
}

#fas-logo {
    font-size: 13px;
}


.container5 {
    height: 47rem;
    width: 100%;
    background-color: black;
    padding: 4% 0 0 0;
    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@media (max-width:450px) {
    .container5 {
        height: 40rem;
    }
}

.contact-logo {
    color: rgb(237, 68, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

@media (max-width:450px) {
    .contact-logo {
        font-size: 35px;
        margin: 4% 0 2% 0;
    }
}

.contact-para {
    color: rgb(222, 219, 219);
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0.8% 0 2% 0;
}

@media (max-width:450px) {
    .contact-para {
        font-size: 17px;
    }
}

.contact-main-div {
    height: 74%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:450px) {
    .contact-main-div {
        margin-top: 8%;
    }
}

.contact-gmail {
    height: 90%;
    width: 32%;
    border: 1px solid rgb(135, 132, 132);
    background: rgb(6, 6, 6);
    padding: 2% 2% 1% 2%;
    border-radius: 10px;
}

@media (max-width:450px) {
    .contact-gmail {
        width: 86%;
        height: 93%;
        padding: 4% 3% 0 3%;
    }
}

/* contact-one-div */

/* contact-second-div */

.contact-div-message {
    color: blueviolet;
    font-style: 18px;
    margin-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width:450px) {
    .contact-div-message {
        font-size: 25px;
    }
}

.contact-div-label {
    color: white;
    display: block;
    margin: 4% 0% 1% 0.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#email-contact {
    height: 2.7rem;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(19, 18, 18);
    border: 1px solid rgb(172, 171, 171);
    padding: 0 2% 0 2%;
    color: #ffffff;
}

#contact-textarea {
    height: 6.7rem;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(19, 18, 18);
    border: 1px solid rgb(172, 171, 171);
    padding: 2% 2% 0 2%;
    color: #ffffff;
}

#contact-login-button {
    color: black;
    background-color: rgb(255, 255, 255);
    height: 2.7rem;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-top: 5%;
    transition: 0.3s ease;
}

#contact-login-button:hover {
    background-color: #c6c4c4;
}


.container6 {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 11);
}

.last-para {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media (max-width:450px) {
    .last-para {
        font-size: 16px;
        margin: 0 4% 0 4%;
    }
}